<html>
<head>

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">-->
  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
<link href="css/style.css" type="text/css" rel="stylesheet" media="all">
 
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--<link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"></link>-->
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 <script>
 .da-thumbs li a div {
	top: 0px;
	left: -100%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.da-thumbs li a:hover div{
	left: 0px;
}
.p{
text-align:justify;
}
.img-responsive
.newimg{
margin:auto;
border-radius: 50%;
                overflow: hidden;
    width: 220px;
    height: 220px;
display:inline-block
}
.newimg:hover.newimg{
transform: rotate3D(1,1,1,360deg);
    -webkit-transform: rotate3D(1,1,1,360deg);
    -o-transform: rotate3D(1,1,1,360deg);
    -ms-transform: rotate3D(1,1,1,360deg);
    -moz-transform: rotate#D(1,1,1,360deg);
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
 .body1 {
    background-image: url("static/images/background.png");
    background-repeat: no-repeat;
    width: auto;
	
}
 </script>
 </head>
<body>


  <div class="navbar-fixed">
	 <nav>
    <div class="nav-wrapper">
      
  <a class="btn waves-effect waves-teal" href="homepage">Book Exchange</a>
  <ul class="right hide-on-med-and-down">
    <li><a href="login">LogIn</a></li>
    <li><a href="signup">SignUp</a></li>
    <li><a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a></li> 
  </ul>
  <ul id="slide-out" class="side-nav" style="background-color:#ffee99;font-size:25px">
    <li><a class="waves-effect waves-purple" href="#home">Home</a></li><hr>
    <li><a class="waves-effect waves-purple" href="#aboutus">About Us</a></li><hr>
    <li><a class="waves-effect waves-purple" href="#ourteam">Our Team</a></li><hr>
  </ul>
  
  </div>
</nav>
</div>
         
  <div class="home" id="home">
  <img   style="width: 100%; height: 650px"  src="static/images/lib.jpg" />
  </div>
  <div id="aboutus" class="aboutus #e0e0e0 grey lighten-2" ></div>
  <br><br><br><br>
 <div style="text-align: justify;" class="container center" >
  <center>
  <h2>About Us</h2>
  </center>
  <p>
  The biggest problem with the students is that students are knowing the books that are available in our school/college Library thus are not able to fully utilise the library and also they have to give visit to library frequently to know whether the book they wanted is available or not.And if a person needs the book urgently what he should do?
  so through this website we are helping and solving some of the problem of the students who wanted to study in their school/college life</p> 
  </p>
  <br>
  <p>
  Book exchange app is made for making a person easier to share the boxs and also have easier access to any of the book he wanted the speciality of this app is that a user can know which books are not available and the date when it will get available and also the books available for issuing.
  also the person issuing the book needs to write the returning date of the book so that the person who in need of that book knows how long he need to wait</p>
  <br>
  <p>
  This app will give notification to the person once the book get available which he wanted
  </p>
  <br>
  </div>
 <br><br><br><br>
  <div style="background: url(static/images/background.png);"  class="ourteam conatiner center #eeeeee grey lighten-2" id="ourteam">
  <br><br><br>
  <center>
  <h2>Our Team</h2>
   </center>
  <br><br><br>
 <div class="row">
<div class="">
<table>
 <center>
<tr>
<td>  <center>
						<a href="https://www.facebook.com/pratik.wagh.35"target="_blank">
							<div class="newimg1"><a href="https://www.facebook.com/pratik.wagh.35" target="_blank"><img src="static/images/professional pic.jpg" height=165 width=220 style="border:1px solid black"/></div>
							<br><div ><span style="">Pratik Wagh</span><br/><br><span style="">Web Developer</span></div>
						</a>
	</center>				
</td>
<td>
<center>
	<a href="https://www.facebook.com/pratik.wagh.35"target="_blank">
							<div class="newimg1"><a href="https://www.facebook.com/96shubh96?fref=ts" target="_blank"><img src="static/images/shubham.jpg" height=165 width=220 style="border:1px solid black"/></div>
							<br><div><span style="" >Shubham Kumar</span><br/><br><span style="">Web Developer</span></div>
						</a>
	</center>				
</td>	
<td>
<center>
						<a href="https://www.facebook.com/pratik.wagh.35"target="_blank">
							<div class="newimg1"><a href="https://www.facebook.com/disha.srivastava.716?fref=ts" target="_blank"><img src="static/images/disha.jpg" height=165 width=220 style="border:1px solid black"/></div>
							<br><div><span style="">Disha Srivastava</span><br/><br><span style="">Designer</span></div>
						</a>
</center>
</td>	
</tr>
</center>	
</table>
		
</div>
</div>
<br><br><br><br><br>
    <div class="page-scroll marginbot-30">
<a id="totop" class="btn btn-circle" href="#home">
<i class="medium material-icons fa fa-angle-double-up animated">navigation</i>
            
</a>
</div>
  <footer class="page-footer footer-copyright ">
   <table>
   <tr>
   <td>
   <center>
   <i class="material-icons">email</i><p>BookExchangeSite@gmail.com</p>
   </center>
   </td>
   <td>
   <center>
   <i class="material-icons">contact_phone</i><p>+91-8888122723</p>
   </center>  
   </td>
   <td>
   <center>
   <p>Copy Right&copy2015BookExchange</p>
   </center>
   </td>
   </tr>
   </table>
		  </footer>



<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script> 
  <script>
       $(document).ready(function(){
       $(".button-collapse").sideNav({
        menuWidth:300,
            edge:'right',
       closeOnClick:true
          });
       });
  </script>
 
</body>
</html>