<html>
<head>

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">-->
  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
  
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--<link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"></link>-->
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<script>
function notifyMe() {
  if (!("Notification" in window)) {
    alert("This browser does not support desktop notification");
  }
  else if (Notification.permission === "granted") {
        var options = {
                body: "Your request has been successfully sent....",
                icon: "https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Book_icon_(closed)_-_Red_and_gold.svg/200px-Book_icon_(closed)_-_Red_and_gold.svg.png",
                dir : "auto"
             };
          var notification = new Notification("Hey!!!",options);
  }
  else if (Notification.permission !== 'denied') {
    Notification.requestPermission(function (permission) {
      if (!('permission' in Notification)) {
        Notification.permission = permission;
      }
    
      if (permission === "granted") {
        var options = {
               body: "Your request has been successfully sent....",
                icon: "https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Book_icon_(closed)_-_Red_and_gold.svg/200px-Book_icon_(closed)_-_Red_and_gold.svg.png",
                dir : "auto"
          };
        var notification = new Notification("Hey...",options);
      }
    });
  }
}
</script>
 </head>
<body background="static/images/background.png">
  <div class="navbar-fixed">
 <nav>
 <div class="nav-wrapper">
 
 <ul><li><a class="btn waves-effect waves-teal" href="profilepage">Book Exchange</a></li></ul>
  <ul><li>
  
     </li></ul>
 <ul class="right hide-on-med-and-down">
    <li><a href="updatebooks">Update Books</a></li>
	<li><a href="addbook">Addbook</a></li>
    <li><a href="http://ebook.com/">eBooks</a></li>
    
    <li><a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a></li> 
  </ul>
  <ul id="slide-out" class="side-nav" style="background-color:#ffee99;font-size:25px " >
    <li><a class="waves-effect waves-purple" href="profilepage">Home</a></li><hr>
	<li><a class="waves-effect waves-purple"  href="viewprofile" >View Profile</a></li><hr>
    <li><a class="waves-effect waves-purple" href="editprofile">Edit Profile</a></li><hr>
    <li><a class="waves-effect waves-purple" href="contactus">ContactUs</a></li><hr>
    <li><a class="waves-effect waves-purple" href="/logout">Logout</a></li><hr>
  </ul>
  
  </div>
</nav>
</div>
<br>
	<h2 class="center-align">Enter Details Of Book</h2><br>
    <div class="row">
    <form class="col s4 offset-s4 #f5f5f5 grey lighten-4" method="post" action="/request/sent">
      
        <div class="input-field col s12 ">
          <input id="first_name" type="text" class="validate" name="bname">
          <label for="first_name">Name of the Book</label>
        </div>
        <div class="row">
            <div class="input-field col s12 ">
          <input id="first_name" type="text" class="validate" name="uname">
          <label for="first_name">Enter your name</label>
        </div>      
            <div class="input-field col s12">
          <input id="branch" type="text" class="validate" name="e_mail">
          <label for="branch">Email Id</label>
        </div>
      </div>
	  
            
    
            
      <br>
       
 <button class="btn waves-effect waves-light col s12" type="submit" name="action" onclick="notifyMe()">Request
   
  </button>
 
  </form>
  </div>
    <br><br>
  <footer class="page-footer footer-copyright ">
   <table>
   <tr>
   <td>
   <center>
   <i class="material-icons">email</i><p>BookExchangeSite@gmail.com</p>
   </center>
   </td>
   <td>
   <center>
   <i class="material-icons">contact_phone</i><p>+91-8888122723</p>
   </center>  
   </td>
   <td>
   <center>
   <p>Copy Right&copy2015BookExchange</p>
   </center>
   </td>
   </tr>
   </table>
		  </footer>




<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script> 
  <script>
       $(document).ready(function(){
       $(".button-collapse").sideNav({
        menuWidth:300,
            edge:'right',
       closeOnClick:true
          });
       });
  </script>
 
</body>
</html>